:root {
    --dark-blue: #231D2B;
    --blue: #2C2C44;
    --blue-2: #2c2c44;
    --grey: #818199;
    --pink: #D34F76;
}
@font-face {
    font-family: Red Hat text;
    src: url(./font/RedHatDisplay-VariableFont_wght.ttf);
}
* {
    font-family: Red Hat text;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background: url(./images/bg-stars.svg) center no-repeat;
    background-color: var(--dark-blue);
}
header {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0.3em;
}
span {
    text-transform: uppercase;
    color: var(--grey);
}
a:hover path {
    fill: var(--pink);
}
main > div {
    position: relative;
    max-width: 736px;
    display: flex;
    flex-direction: column;
    gap: 81px;
    padding: 10px;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}
footer > svg {
    position: absolute;
    height: 196px;
    z-index: -1;
    left: 0;
    top: 0;
}
footer {
    position: relative;
    width: 100%;
    height: 196px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 50px;
    gap: 32px;
    overflow: hidden;
    background: linear-gradient(to top, #30243A, transparent);
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.flip-card {
    position: relative;
    width: 150px;
    height: 140px;
    background: linear-gradient(135deg, var(--blue-2), var(--blue));
    border-radius: 8px;
    box-shadow: 0 8px 0 0 #17171E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    font-size: 70px;
    letter-spacing: -5%;
    font-weight: bold;
}
.card-fixed {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.card-top {
    height: 50%;
    line-height: 2;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--blue);
}
.card-bottom {
    height: 50%;
    line-height: .01;
    overflow: hidden;
    background-color: var(--blue);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    perspective: 800px;
    transition: transform 0.8s;
    transform: rotateX(180deg);
    border-radius: 8px;
    background-color: var(--blue);
    transform-style: preserve-3d;
    background-color: transparent;
}
.flip-animation {
    animation: 2s flip;
}
.flip-front, .flip-back {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--blue);
    overflow: hidden;
}
.line {
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: var(--blue);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.flip-front {
    line-height: .01;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.flip-back {
    line-height: 2;
    transform: rotateX(-180deg);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}
.flip-card::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--dark-blue);
    z-index: 4;
}
.flip-card::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--dark-blue);
    z-index: 4;
}
.mobile, .landscape {
    display: none;
}
@media screen and (max-width: 767px) {
    header {
        font-size: 18px;
        letter-spacing: 0.34em;
    }
    main > div, header {
        max-width: 348px;
    }
    main > div {
        height: 235px;
        gap: 56px;
    }
    .flex-row, .flex-col {
        gap: 16px;
    }
    span {
        font-size: 7px;
        letter-spacing: 0.4em;
    }
    footer {
        height: 173px;
        padding-bottom: 40px;
    }
    .mobile {
        display: block;
        width: 200%;
    }
    .desktop {
        display: none;
    }
    .line {
        height: 0.2px;
    }
    .flip-card {
        width: 70px;
        height: 66px;
        font-size: 36px;
        box-shadow: 0 4px 0 0 #17171E;
    }
    .flip-card::after, .flip-card::before {
        width: 6px;
        height: 6px;
    }
    .flip-card::before {
        left: -2px;
    }
    .flip-card::after {
        right: -2px;
    }
    .flip-back {
        line-height: 1.8;
    }
    .card-bottom {
        line-height: .03;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .desktop {
        display: none;
    }
    .landscape {
        display: block;
        width: 100%;
    }
    .flip-card {
        width: 83px;
        height: 77px;
        font-size: 48px;
    }
    .flex-row, .flex-col {
        gap: 20px;
    }
    .flip-card::after, .flip-card::before {
        width: 7px;
        height: 7px;
    }
    .flip-card::before {
        left: -3px;
    }
    .flip-card::after {
        right: -3px;
    }
    .flip-back {
        line-height: 1.6;
    }
    .line {
        height: 1px;
    }
    .card-bottom {
        line-height: .03;
    }
}