:root {
    --dark-blue: #231D2B;
    --blue: #2C2C44;
    --blue-2: #2c2c44;
    --grey: #818199;
    --pink: #D34F76;
}
@font-face {
    font-family: Red Hat text;
    src: url(./font/RedHatDisplay-VariableFont_wght.ttf);
}
* {
    font-family: Red Hat text;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    gap: 8em;
    background: url(./images/bg-stars.svg) center no-repeat;
    background-color: var(--dark-blue);
}
header {
    width: 100%;
    height: auto;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.8em;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.flip-card {
    position: relative;
    width: 150px;
    height: 140px;
    background: linear-gradient(135deg, var(--blue-2), var(--blue));
    border-radius: 8px;
    box-shadow: 0 8px 0 0 #17171E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    font-size: 70px;
    letter-spacing: -5%;
    font-weight: bold;
}
.card-fixed {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.card-top {
    height: 50%;
    line-height: 2;
    overflow: hidden;
    border-radius: 8px;
    background-color: var(--blue);
}
.card-bottom {
    height: 50%;
    line-height: .01;
    overflow: hidden;
    background-color: var(--blue);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    perspective: 800px;
    transition: transform 0.8s;
    transform: rotateX(180deg);
    border-radius: 8px;
    background-color: var(--blue);
    transform-style: preserve-3d;
    background-color: transparent;
}
.flip-animation {
    animation: 2s flip;
}
.flip-front, .flip-back {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: var(--blue);
    overflow: hidden;
}
.line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--blue);
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}
.flip-front {
    line-height: .01;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.flip-back {
    line-height: 2;
    transform: rotateX(-180deg);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}
.flip-card::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--dark-blue);
    z-index: 4;
}
.flip-card::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--dark-blue);
    z-index: 4;
}
span {
    text-transform: uppercase;
    color: var(--grey);
}
main {
    position: relative;
    padding: 10px;
}
footer {
    position: relative;
    width: 100%;
    height: 197px;
    background: url(./images/pattern-hills.svg) center no-repeat;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

@media screen and (max-width: 767px) {
    header {
        font-size: 18px;
        letter-spacing: 0.34em;
    }
    .flip-card {
        width: 70px;
        height: 66px;
        font-size: 36px;
    }
    .flip-card::after, .flip-card::before {
        width: 6px;
        height: 6px;
    }
    .flip-card::before {
        left: -2px;
    }
    .flip-card::after {
        right: -2px;
    }
    .flip-back {
        line-height: 1.9;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .flip-card {
        width: 83px;
        height: 77px;
        font-size: 48px;
    }
    .flip-card::after, .flip-card::before {
        width: 7px;
        height: 7px;
    }
    .flip-card::before {
        left: -3px;
    }
    .flip-card::after {
        right: -3px;
    }
    .flip-back {
        line-height: 1.5;
    }
}