:root {
    --dark-blue: #231D2B;
    --blue: #2C2C44;
    --blue-2: #2c2c44;
    --grey: #818199;
    --pink: #D34F76;
}
@font-face {
    font-family: Red Hat text;
    src: url(./font/RedHatDisplay-VariableFont_wght.ttf);
}
* {
    font-family: Red Hat text;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    position: relative;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(./images/bg-stars.svg) center no-repeat;
    background-color: var(--dark-blue);
}
header {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translateY(-10%) translateX(-10%);
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    letter-spacing: 30%;
    text-align: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container {
    perspective: 800px;
}
.card {
    position: relative;
    width: 150px;
    height: 140px;
    background: linear-gradient(135deg, var(--blue-2), var(--blue));

    border-radius: 8px;
    box-shadow: 0 8px 0 0 #17171E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pink);
    font-size: 70px;
    font-weight: bold;
}
.card::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--dark-blue);
    z-index: 4;
}
.card::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    background-color: var(--dark-blue);
    z-index: 4;
}
.half-top {
    position: absolute;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--dark-blue);
    top: 0;
    text-align: center;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 2;
}
.half-bottom {
    position: absolute;
    border-top: 1px solid var(--dark-blue);
    width: 100%;
    height: 70px;
    text-align: center;
    bottom: 0;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform-origin: top;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background-color: var(--blue);
    /* background-color: red; */
    animation: 5s timer infinite;
}
@keyframes timer {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: perspective(800px) rotateX(-90deg);
    }
}
span {
    text-transform: uppercase;
    color: var(--grey);
}
main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-40%) translateX(-50%);
    gap: 10px;
    padding: 10px;
}
footer {
    position: absolute;
    width: 100%;
    height: 197px;
    background: url(./images/pattern-hills.svg) center no-repeat;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}